:root {
    --primary: #11385c;
    --secundary: #18678c;
    --accent1: #e8c04a;
    --accent2: #ee7930;
    --accent3: #85bd30;
}

* {
    box-sizing: border-box;
    padding: 0;
}

body {
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    max-width: 1250px;
    margin: 1.25rem auto;

}

/* Header Styling */

section.headertop {
    display: flex;
    padding: 1rem 0;
    align-items: center;
    justify-content: space-between;
    background-color: #85bd30;
}

div.logo {
    display: flex;
    margin-left: 1rem;
    flex-direction: row;

}

div.logo img {
    width: 50px;
}

section.headings {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    font-family: 'Montserrat', sans-serif;
    line-height: 0;
}

h1 {font-size: 1em;}

/* h2 {font-size: .85em;} */

h2, h3, h4, p, a {font-size: .75em;}


/* Navigation Styling */

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2.5rem;
    color: var(--accent2);
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    font-size: 1.5rem;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: #333;

}

nav ul li.active a {
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

nav ul li a:hover {
    background-color: var(--accent1);
}

nav ul {
    display: none;

}

nav ul.open {
    display: block;
}

/* Footer Styling */
footer {
    background-color: var(--accent3);
    text-align: center;
    font-size: .8rem;
}
footer nav ul {
    display: flex;
    margin: 0;
    justify-content: space-evenly;
}

footer nav ul li a{
    font-size: 1rem;
    margin-top: 1rem;
}

/* Main Styling */

main.mainContent {
    display: grid;
    grid-template-columns: 1fr;
}

/* main.mainContent img {
    width: 50%;
} */
section.welcome {
    text-align: left;
    margin:1.5rem;
}

section.welcome img {
    width: 50%;
    float: right;
    padding: .5rem;
    margin-top: .5rem;
}

.buttons{
    display: flex;
    justify-content: space-evenly;
}
.button1 {
    background-color: var(--accent3);
    border-radius: 20px;
    padding: .5rem 1.5rem;
}
.yourCart {
    grid-column: 1/-1;
    text-align: center;
    background-color: var(--secundary);
    color: white;
    padding: 1rem;
}
section.message1 {
    grid-column: 1/-1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5rem;
}

.message1 img {
    width: 50%;
}
.smoothies, .masterpiece {
    background-color: #e8c04a;
    text-align: center;
    align-items: center;
    padding: 1rem;
}

.smoothie img{
    width: 30%;
}

/* .masterpiece {
    grid-column: 1/-1;
    flex-direction: column;
} */

.masterButton {
    background-color: #85bd30;
    padding: 1rem 2rem;
}


.social {
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:var(--secundary);
    padding: 1.5rem 0;
}
.socialMedia img{
    width: 30px;
    margin: 0 1.5rem;
}
.photo4 {
    display: none;
}

/* Weather Report*/

.weather {
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 3px solid var(--accent3); */
    padding: 1rem;
    margin: 1rem 0;
}
.weatherSection div {
    text-align: center;
    border: 3px solid var(--accent3);
    margin: .5rem 1rem;
}
.weatherSummary {
    display: grid;
    grid-template-columns: repeat(3,1fr);

}
.weatherTitle {
    background-color: #85bd30;
    color: var(--primary);
    padding: .5rem 2rem;
}
.forecastTitle {
    grid-column: 1/-1;
    
}

.weatherSummary div{
    align-items: center;
    text-align: center;
}


/*--- FRESH PAGE STYLING ---*/

.freshMain {
    margin: 0 auto;
    text-align: center;  
}

.pageTitle {
    color: var(--accent2);
    font-size: 1.5rem;
    letter-spacing: 5px;
    text-align: center;
    background-color: var(--secundary);
    padding: 1rem;
}

form fieldset {
    margin: 1rem auto;
    border-radius: 10px;
 	width: 94%;
}
form legend {
    color: var(--accent2);
    margin: 0 1rem;
    padding: 0 .5rem;
    font-weight: bolder;
}
form label.client {
    display: block;
    padding-top: 1rem;
}

form label.client input {
    /* -webkit-appearance: none; */
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 2px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1);
}
.fruit1, .fruit2, .fruit3 {
    padding: .75rem;
}

form button.submitBtn {
    border: none;
    background-color: var(--secundary);
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    width: 100%;
    max-width: 20rem;
    text-align: center;
}

form textarea {
	font-size: 1rem;
	padding: 10px;
}

.fruitSelection {
    display: flex;
    flex-direction: column;
}

.fruitSelection label{
    padding: .5rem;
}
/*---ABOUT PAGE ----*/

.about {
    display: block;
}

.aboutBF{
    padding: .5rem 1.5rem;
}

.aboutBF img{
    width: 100%;
}

.inquiryBtn {
    /* display: flex; */
    text-align: center;
    border: none;
    background-color: var(--secundary);
    color: white;
    border-radius: 1rem;
    padding: .75rem 2rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
    
}

iframe {
	width: 100%;
    padding: 0 .5rem;
    border: none;
}


/*---THANK YOU PAGE ----*/

.thankYou {
    max-width: 64rem;
	margin: 2rem;
	background-color: rgba(231, 230, 230, 0.5);
	display: block;
    text-align: center;
}

/*---PRODUCT DETAIL PAGE ----*/

/* GREG STYLES */
.product-details-page {
    margin-bottom: 50px;
}

.product-details-page .aboutBF {
    margin-top: 50px;
}

.product-details-page .inline-block-layout {
    display: inline-block;
}

.product-details-page .original-old-price .final_price {
    font-size: 1.3em;
    color: red;
}

.product-details-page .original-old-price .suggested_price {
    text-decoration: line-through;
}

.product-details-page .discount_indicator {
    color: var(--secundary);
    font-size: 1.3em;
}

.product-details-page h2,
.product-details-page p {
    margin-top: 0px;
}

.product-detail__add,
.product-detail.quick-view .product-detail-wrapper .close-button-container {
    margin-top: 50px;
    text-align: center;
}

.product-detail__add .button1.product-details-button1,
.product-detail.quick-view .product-detail-wrapper .close-button-container button,
.remove-btn .cart-remove__item,
.cart_qty .decrease_units,
.cart_qty .increase_units {
    background-color: var(--accent3);
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 20px;
    padding: 0.5rem 3.5rem;
    border: 0px;
    cursor: pointer;
}

/*---PRODUCT LISTING PAGE ----*/
.product-list-page .product-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
}

.product-list-page .product-list p {
    margin: 0;
}

.product-list-page .product-card {
    flex: 1 1 50%;
    margin: 0.25em;
    padding: 0.5em;
    border: 1px solid #d0d0d0;
    max-width: 350px;
    list-style: none;
    text-decoration: none;
    margin-bottom: 30px;
}

.product-list-page .product-card a {
list-style: none;
text-decoration: none;
}

.product-list-page .product-card img {
    width: 100%;
}

.product-list-page .product-card h2 {
    font-size: 1.3em;
    color: #000000;
}

.product-list-page .product-list .product-card__price {
    font-size: 1.6rem;
    color: #398dae;
}

.product-list .product-card__price .disc-ind {
    color: #fff;
    background-color: #f26225;
    padding: 3px 7px;
    border-radius: 3px;
}

.product-list .product-card__suggested {
    font-size: 1.3rem;
    text-decoration: line-through;
}

.product-list-page .product-card .product-detail__add.quick-view-container {
    margin: 20px 0;
}

/*---Quick View Modal Styling ----*/
.product-detail.quick-view {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00000062;
    max-width: none;
}

.product-detail.quick-view.show-modal {
    display: block;
  }

.product-detail.quick-view .product-detail-wrapper {
    position: relative;
    padding: 20px 1em;
    max-width: 500px;
    margin: 50px auto 0 auto;
    background-color: #fff;
    text-align: center;
}

.product-detail.quick-view .product-detail-wrapper picture img {
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    width: 100%;
}

/* Start cart list card styles */
.cart-card {
    display: grid;
    grid-template-columns: 25% auto 15%;
    font-size: var(--small-font);
    /* max-height: 120px; */
    align-items: center;
    width: 100%;
  }

  .cart-page .cart-section .divider {
    border-bottom: 2px solid var(--secundary);
}

.cart-page .cart-section a {
    text-decoration: none;
}

  .cart-page .cart-section h2{
    font-size: 1.7em;
    font-family: 'Montserrat', sans-serif;
    color: var(--secundary);
  }
  
  .cart-card__image {
    grid-row: 1/4;
    grid-column: 1;
  }

  .cart-card__image img {
    width: 100%;
  }
  
  .cart-card p {
    margin-top: 0;
  }
  .cart-card .card__name {
    grid-row: 1;
    grid-column: 2;
  }
  
  .cart-card__color {
    grid-row: 2;
    grid-column: 2;
  }
  
  .cart-remove__item {
    grid-row: 1;
    grid-column: 3;
    text-align: center;
    padding: 0.5em;
    position: relative;
    bottom: 5px;
    left: 50px;
  }
  .cart_qty {
    grid-row: 4;
    grid-column: 2;
    position: relative;
    /* display: flex;
    flex-direction: row; */
    /* align-items: flex-end; */
    /* border: 1px solid#303030; */
  }
  
  .cart-card__unit_price {
    grid-row: 3;
    grid-column: 2;
  }
  
  .cart-card__total_price {
    grid-row: 4;
    grid-column: 3;
  }
  
  
  /* alert styles */
  .alert {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em;
    background-color: var(--primary-color);
    border: 1px solid darkorange;
  }
  .alert > p {
    margin: 0;
  }
  
  .alert > span:hover {
    cursor: pointer;
  }

  /* Styling of the cart quantities buttons---Natalia */
  .decrease_units, .increase_units, .cart-card__quantity {
  padding: .5em;
  position: relative;
  margin: 0;
  }
  
  /* .decrease_units {
    position: relative;
    right: 100px;
  }
  */
  .cart-card__quantity {
    position: relative;
    bottom: 40px;
    left: 30px;
  }
  
  .increase_units{ 
    position: relative;
    bottom: 85.5px;
    left: 58px;
    margin: 0;
  } 

  .remove-btn .cart-remove__item,
  .cart_qty .decrease_units,
  .cart_qty .increase_units {
      padding: 5px 12px;
      border-radius: 5px;
  }
  /* End of Styling of the cart quantities buttons---Natalia */

  /* cart page footer (checkout button and subtotal */

.list-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5em;
    margin-bottom: 40px;
  }
  .list-footer > a {
    /* display: block; */
    font-size: 1.7em;
    padding: 0.3em 0.5em;
    background-color: var(--secundary);
    text-decoration: none;
    border-radius: 5px;
    color: #ffff !important;
  }
  
  .list-footer.hide a {
    visibility: hidden;
  }
  
  .list-total {
    text-align: right;
  }
  .list-footer a:link,
  .list-footer a:visited {
    color: var(--dark-grey);
  }

  /* Start Breadcrumb Styles Greg */
.breadcrumbs-container {
    padding: 0 18px;
  }
  .breadcrumbs-container .breadcrumbs-ul {
    display: flex;
    padding-left: 0px;
  }
  
  .breadcrumbs-container .breadcrumbs-ul .breadcrumbs-li {
    display: inline-block;
    margin-right: 6px;
  }
  
  .breadcrumbs-container .breadcrumbs-ul .breadcrumbs-li::after {
    content: ">>";
    margin-left: 6px;
    color: #f0a868;
  }
  
  .breadcrumbs-container .breadcrumbs-ul .breadcrumbs-li a {
    text-decoration: none;
    color: #303030;
  }
  
  .breadcrumbs-container .breadcrumbs-ul .breadcrumbs-li:hover a {
    text-decoration:underline;
  }
  
  .breadcrumbs-container .breadcrumbs-ul .breadcrumbs-li:last-child::after {
    content: "";
  }
  
  .breadcrumbs-container .breadcrumbs-ul .breadcrumbs-li:last-child {
    color: #303030a8;
  }
  
  
  /* End Breadcrumb Styles Greg */



/* GREG STYLES */











