<nav>
    <!-- <button id="hamButton"><span>&#9776;</span></button> -->
    <ul>
        <li><a href="../../index.html">Home</a></li>

        <li><a href="fresh.html">Fresh</a></li>

        <li><a href="about.html">About</a></li>

        <li><a href="attributions.html">Attributions</a></li>
    </ul>
</nav>
<section class="bottomInfo">
    <div>
        <p>Smoothie Xpress<br />
            2700 SW District Ave, Stuart, FL 33404<br />
            &copy;<span id="year"></span> Smoothie Xpress. All rights reserved.</p>
    </div>
    <div>
        <p>☎️ (772) 331-2955</p>
    </div>
    <div>
        <p>Last Modify: <span id="lastupdated"></span></p>
    </div>
</section>