<section class="headertop">
    <div class="logo">
        <picture>
            <img src="../images/logo_Smoothie_Xpress.svg" alt="Logo of Smoothie Xpress" loading="lazy">
        </picture>
        <section class="headings">
            <h1>Smoothie Xpress</h1>
            <p>2700 SW District Ave, Stuart, FL 33404</p>
            <p>☎️ (772) 331-2955</p>
        </section> 
    </div>


    <nav>
        <button id="hamButton"><span>&#9776;</span></button>
        <ul id="primaryNav">
            <li class="medpage"><a href="/index.html">Home</a></li>
            <li class="medpage"><a href="fresh.html">Fresh</a></li>
            <li><a href="../../cart/index.html">Cart</a></li>
        </ul>
    </nav>

    <div class="basket-icon">
        <a href="../../cart/index.html"><img src="../images/shopping-cart.svg"></a>
        
    </div>
</section>
<!-- <p class="yourCart"><em>Your cart: </em><span id="numberSpecDrinks"></span> drink(s) ordered.</p> -->
