<section class="headertop">
    <div class="logo">
        <picture>
            <a href="../../index.html" ><img src="../images/logo_Smoothie_Xpress.svg" alt="Logo of Smoothie Xpress" loading="lazy"></a>
        </picture>
        <section class="headings">
            <a href="../../index.html" ><h1>Smoothie Xpress</h1></a>
            <p class="address">2700 SW District Ave</p>
            <p>Stuart, FL 33404</p>
            <p>☎️ (772) 331-2955</p>
        </section> 
    </div>
    <!-- <div>
        <a href="../../products/index.html">ORDER NOW</a>
    </div> -->

    <nav>
        <button id="hamButton"><span>ORDER NOW</span><span>X</span></button>
        <ul id="primaryNav">
            <li class="menuOption"><a href="/product-listing/index.html?category=balanced-fusions">Balanced Fusions</a></li> 
            <li class="menuOption"><a href="/product-listing/index.html?category=fruit-blend">Fruit Blend</a></li>
            <li class="menuOption"><a href="/product-listing/index.html?category=super-veggies">Super Veggies</a></li> 
        </ul>
    </nav>

    <div class="basket-icon">
        <a href="../../cart/index.html"><img src="../images/shopping-cart.svg"></a>
        
    </div>

</section>

<div class="bottom-header">
        <div class="login-container">
            <a id="login" class="loginnow" href="../../accounts/login.html" >Login</a>
            <button id="logout" class="logoutnnow" >Logout</button>
        </div>

        <form action="/product-listing/index.html" method="get" class="search-bar" role="search">
            <input type="text" placeholder="Product Search" name="search" id="searchInput" class="searchInput search-bar__input">
            <!-- <input type="hidden" name="type" value="product,page">
            <input type="hidden" name="options[unavailable_products]" value="last">
            <input type="hidden" name="options[prefix]" value="last">
            <input type="hidden" value="Search"> -->
            <button type="submit" value="Search" class="search-bar__submit">
            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-search" viewBox="0 0 20 20"><path fill="#444" d="M18.64 17.02l-5.31-5.31c.81-1.08 1.26-2.43 1.26-3.87C14.5 4.06 11.44 1 7.75 1S1 4.06 1 7.75s3.06 6.75 6.75 6.75c1.44 0 2.79-.45 3.87-1.26l5.31 5.31c.45.45 1.26.54 1.71.09.45-.36.45-1.17 0-1.62zM3.25 7.75c0-2.52 1.98-4.5 4.5-4.5s4.5 1.98 4.5 4.5-1.98 4.5-4.5 4.5-4.5-1.98-4.5-4.5z"></path></svg>
            <span class="icon__fallback-text">Search</span>
            </button>
        </form>
</div>
<!-- <p class="yourCart"><em>Your cart: </em><span id="numberSpecDrinks"></span> drink(s) ordered.</p> -->
